/*general*/

body {
    margin: 0 10%;
}

h1 {
    margin-top: 80px;
    text-align: center;
}

h2 {
    margin-bottom: 0;
}

img {
    width: 100%;
}

p {
    text-align: justify;
}

.source {
    text-align: center;
}

.titleWithTime {
    display: flex;
}

/*navbar*/

nav {
    background-color: #333;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 1px 12px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    display: inline;
}

nav a {
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav a.index {
    height: 100%;
}

nav a:hover {
    background-color: #111;
}

body.index a.index, body.alimentation a.alimentation, body.banque a.banque, body.transport a.transport, body.apropos a.apropos, body.autres a.autres {
    background-color: #04AA6D;
}

nav label, nav input {
    display: none;
}

/*footer*/

footer {
    background-color: #333;
    box-shadow: 0px 1px 12px;
    margin-top: 2rem;
    position: absolute;
    left: 0;
    width: 100%;
}

#slogan {
    text-align: center;
    color: #f5f5f5;
    font-size: 3vw;
    line-height: normal;
}

#contact {
    color: white;
    text-align: right;
    font-style: italic;
    margin: 0 1rem 1rem 0;
}

/*carousel*/

.slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
  }
  .menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
  }
  .menu label:hover,.menu label:focus {
    background: #1c87c9;
  }
  .slide-input{
    opacity: 0;
  }
  .slide-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
  }
  [id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
  }

/*autres*/

#imgClassementBanque {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

@media screen and (max-width: 768px) {

    body {
        margin: 0 8px;
    }

    nav {
        padding: 0;
    }
    
    nav a {
        display: inline-block;
    }

    nav label {
        display: block;
        color: white;
        font-size: 2em;
        float: right;
        margin-top: 6px;
        margin-right: 15px;
    }

    nav ul {
        display: none;
    }

    nav li {
        display: block;
    }

    nav input:checked ~ ul {
        display: block;
        text-align: right;
    }

    h1 {
        font-size: medium;
    }

    #imgClassementBanque {
        width: 100%;
    }
}
