/*general*/

body {
    margin: 0;
    font-family: sans-serif;
}

main {
    margin: 60px 20% 0;
}

h1 {
    text-align: center;
    font-size: 5rem;
}

h2 {
    margin-bottom: 0;
}

h3 {
    margin-top: 3rem;
}

p {
    text-align: justify;
    line-height: 200%;
}

img {
    width: 100%;
}

.banner {
    height: 20rem;
    background-position: 50%;
    background-size: cover;
}

.h1Banner {
    color: white;
    text-shadow: black 5px 5px 5px;
    margin-top: 0;
    padding-top: 8rem;
}

#bannerAlimentation {
    background-image: url(images/vegetables-752153_1920.jpg);
}

#bannerBanque {
    background-image: url(images/money-2724241_1920.jpg);
}

#bannerTransport {
    background-image: url(images/rail-3396952_1920.jpg);
}

.imgDeco {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
}

.imgDeco img {
    width: 50%;
    border-radius: 20px;
    margin: 1rem auto 0;
}

.source {
    text-align: center;
    margin: 0;
}

/*navbar*/

nav {
    background-color: black;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 1px 12px;
    z-index: 80;
}

nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    display: inline;
}

nav a {
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav a.index {
    height: 100%;
}

nav a:hover {
    background-color:  #6861b3;
}

body.index a.index, body.alimentation a.alimentation, body.banque a.banque, body.transport a.transport, body.apropos a.apropos, body.autres a.autres {
    background-color: #04AA6D;
}

nav label, nav input {
    display: none;
}

/*image accueil*/

#imgPageAccueil {
    width: 100%;
    background-image: url(images/earth-3628710_1920.jpg);
    background-size: cover;
    height: calc(100vh - 15px);
    position: relative;
    top: 15px;
    left: 0;
}

#fairecolo {
    font-size: 2rem;
    color: white;
    margin-top: 2rem;
    text-shadow: 1px 1px 5px black;
}

#faire {
    font-size: 5rem;
    color: #04AA6D;
}

#colo {
    font-size: 5rem;
    color: #6861b3;
}

#icones {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15rem;
}

.icone {
    width: 10rem;
    margin: 1rem;
    background-color: #04AA6D;
    border-radius: 10px;
    padding: 0.5rem 0rem;
}

.imgIcone {
    font-size: 3rem;
    margin-bottom: 0;
}

.icone p {
    text-align: center;
    margin: 0;
    color: white;
    font-weight: 800;
    line-height: normal;
}

.icone a {
    text-decoration: none;
}

.icone:hover {
    background-color: #6861b3;
    transform: scale(1.4);
    transition: 0.5s;
}

#creditPhoto {
    color: white;
    text-align: right;
    margin: 0;
}

/*footer*/

footer {
    background-color: #333;
    box-shadow: 0px 1px 12px;
    margin-top: 2rem;
    position: absolute;
    left: 0;
    width: 100%;
}

#slogan {
    text-align: center;
    color: #f5f5f5;
    font-size: 3vw;
    line-height: normal;
    margin: 1rem;
}

#contact {
    color: white;
    text-align: right;
    font-style: italic;
    margin: 0 1rem 1rem 0;
}

/*banque*/

.titleWithTime {
    display: flex;
    justify-content: center;
}

.divBanque {
    position: relative;
}

.divBanque img {
    position: absolute;
    opacity: 0.2;
    height: auto;
    z-index: -1;
}

.divBanque2 {
    display: flex;
    margin-top: 1rem;
}

.divBanque2:nth-of-type(2n+1) {
    flex-direction: row-reverse;
}

.divBanque2 img {
    margin: 0 1rem 1rem;
    width: 50%;
    object-fit: contain;
}

.divBanque2 p {
    margin: 0;
}

@media screen and (max-width: 768px) {

    /*general*/

    main {
        margin: 60px 8px;
    }

    h1 {
        font-size: 2rem;
    }

    .imgDeco img {
        width: 100%;
    }

    .banner {
        height: 15rem;
    }

    /*navbar*/

    nav {
        padding: 0;
    }
    
    nav a {
        display: inline-block;
    }

    nav label {
        display: block;
        color: white;
        font-size: 2em;
        float: right;
        margin-top: 6px;
        margin-right: 15px;
    }

    nav ul {
        display: none;
    }

    nav li {
        display: block;
    }

    nav input:checked ~ ul {
        display: block;
        text-align: right;
    }

    /*image accueil*/

    #fairecolo {
        font-size: 1rem;
    }

    #faire {
        font-size: 3rem;
    }

    #colo {
        font-size: 3rem;
    }

    #icones {
        flex-wrap: wrap;
        flex-direction: row;
        margin-right: 0;
    }

    .icone {
        width: 40%;
        padding-bottom: 5rem;
        max-height: 2rem;
    }

    .texteIcone {
        font-size: 0.8rem;
    }

    #creditPhoto {
        font-size: 0.7rem;
        text-align: left;
    }

    /*banque*/

    .divBanque img {
        position: static;
        opacity: 1;
    }

    .divBanque2 {
        display: block;
    }

    .divBanque2 img {
        display: block;
        margin: auto;
        margin-bottom: 1rem;
    }

    #imgLITA {
        width: 100%;
    }
}
