/*general*/

/* tableau entreprises */
.banklist {
	font-weight:bold;
	border-collapse:collapse;
    margin: auto;
    width: 100%;
    height: 80vh;
    font-size: xx-large;
}
.banklist th,.banklist td {
    padding:5px;
    text-align: center;
}
.banklist th {
	color:white;
	text-transform:uppercase;
	background-color:#949895;
	border:1px solid #949895;
	border-bottom-color:white;
	border-right-color:white;
}
.banklist th.last{border-right-color:#949895;}
.banklist tr.n1{background-color:#48B80E;}
.banklist tr.n2{background-color:#FFB300;}
.banklist tr.n3{background-color:#FE4A00;}
.banklist td a{text-decoration:none; color:black; background-color:transparent;}
.banklist td.impact{background-image:url(images/banklist-bg-arrow.png); background-repeat:no-repeat; background-position: 10px center;
padding-left: 70px;}
.banklist td{border:solid #949895 1px;}

body {
    margin: 0;
    font-family: sans-serif;
}

main {
    margin: 0 20%;
}

h1 {
    text-align: center;
    font-size: 5rem;
}

h2 {
    margin-bottom: 0;
}

p {
    text-align: justify;
    line-height: 200%;
}

.indisponible {
    background-color: #f86060;
}

ul {
    margin-top: -1rem;
}

img {
    width: 100%;
}

:target {
    padding-top: 60px;
    margin-top: -60px;
}

.banner {
    height: 20rem;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.h1Banner {
    color: white;
    text-shadow: black 5px 5px 5px;
    margin-top: 0;
    padding-top: 8rem;
}

#bannerAlimentation {
    background-image: url(images/vegetables-752153_1920.jpg);
}

#bannerBanque {
    background-image: url(images/money-2724241_1920.jpg);
}

#bannerTransport {
    background-image: url(images/rail-3396952_1920.jpg);
}

#bannerAutres {
    background-image: url(images/puzzle-2198142_1280.jpg);
}

#bannerAPropos {
    background-image: url(images/light-bulb-5644732_1920.jpg);
}

.imgDeco {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
}

.imgDeco img {
    width: 50%;
    border-radius: 20px;
    margin: 1rem auto 0;
}

.source {
    text-align: center;
    margin: 0;
}

/*navbar*/

nav {
    background-color: black;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 1px 12px;
    z-index: 80;
}

nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    display: inline;
}

nav a {
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav a.index {
    height: 100%;
}

nav a:hover {
    background-color:  #6861b3;
}

body.index a.index, body.alimentation a.alimentation, body.banque a.banque, body.transport a.transport, body.apropos a.apropos, body.autres a.autres {
    background-color: #04AA6D;
}

nav label, nav input {
    display: none;
}

/*footer*/

footer {
    background-color: #333;
    box-shadow: 0px 1px 12px;
    margin-top: 2rem;
    position: absolute;
    left: 0;
    width: 100%;
}

#slogan {
    text-align: center;
    color: #f5f5f5;
    font-size: 3vw;
    line-height: normal;
    margin: 1rem;
}

#contact {
    color: white;
    text-align: right;
    font-style: italic;
    margin: 0 1rem 1rem 0;
}

/*image accueil*/

#imgPageAccueil {
    width: 100%;
    background-image: url(images/earth-3628710_1920.jpg);
    background-size: cover;
    height: calc(100vh - 15px);
    position: relative;
    top: 15px;
    left: 0;
}

#logoFairecolo {
    width: 40rem;
    display: block;
    margin: 0 auto;
    padding-top: 3rem;
}

marquee {
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-weight: bold;
    margin: 0.4rem 0;
}

#icones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: calc(100vh - 201px);
    width: 30rem;
    float: right;
    
}

.icone {
    width: 10rem;
    margin: 1rem;
    background-color: #04AA6D;
    border-radius: 10px;
    padding: 0.5rem 0rem;
}

.imgIcone {
    font-size: 3rem;
    margin-bottom: 0;
}

.icone p {
    text-align: center;
    margin: 0;
    color: white;
    font-weight: 800;
    line-height: normal;
}

.icone a {
    text-decoration: none;
}

.icone:hover {
    background-color: #6861b3;
    transform: scale(1.4);
    transition: 0.5s;
}

.creditPhoto {
    color: white;
    margin-bottom: 0;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*simulateur*/

#simulateur {
    margin: 1rem 0 -2rem;
}

/*banque*/

.titleWithTime {
    display: flex;
    justify-content: center;
}

.divBanque {
    position: relative;
}

.divBanque img {
    position: absolute;
    opacity: 0.2;
    height: auto;
    z-index: -1;
}

.divBanque2 {
    display: flex;
    margin-top: 1rem;
}

.divBanque2:nth-of-type(2n+1) {
    flex-direction: row-reverse;
}

.divBanque2 img {
    margin: 0 1rem 1rem;
    width: 50%;
    object-fit: contain;
}

.divBanque2 p {
    margin: 0;
}

/*transport*/

.defilementVelos {
    font-size: 3rem;
}

@media screen and (max-width: 768px) {

    /*general*/

    main {
        margin: 0 8px;
    }

    h1 {
        font-size: 2rem;
    }

    .imgDeco img {
        width: 100%;
    }

    .banner {
        height: 15rem;
    }

    /*navbar*/

    nav {
        padding: 0;
    }
    
    nav a {
        display: inline-block;
    }

    nav label {
        display: block;
        color: white;
        font-size: 2em;
        float: right;
        margin-top: 6px;
        margin-right: 15px;
    }

    nav ul {
        display: none;
    }

    nav li {
        display: block;
    }

    nav input:checked ~ ul {
        display: block;
        text-align: right;
    }

    /*image accueil*/

    #imgPageAccueil {
        background-position: 50%;
    }

    #logoFairecolo {
        width: 90%;
    }

    marquee {
        font-size: 1rem;
    }

    #icones {
        width: auto;
    }

    .icone {
        width: 9rem;
        padding-bottom: 5rem;
        max-height: 2rem;
    }

    .texteIcone {
        font-size: 0.8rem;
    }

    #creditPhoto {
        font-size: 0.7rem;
        text-align: left;
    }

    /*banque*/

    .divBanque img {
        position: static;
        opacity: 1;
    }

    .divBanque2 {
        display: block;
    }

    .divBanque2 img {
        display: block;
        margin: auto;
        margin-bottom: 1rem;
    }

    #imgLITA {
        width: 100%;
    }

    .banklist {
        font-size: medium;
    }
}
